<!-- Layout: find and edit me in views/layout.hbs -->
<!-- Rajouter pour chaque page html renvoyé au client un truck identique
soit un fichier javascript qui ser disponible pour toutes les pages de mon
site -->

<!-- Layout: find and edit me in views/layout.hbs -->
<html>
  <head>
    <!-- in the header -->
    <script src="/js/food.js"></script>
  </head>
  <body>
    {{{body}}}
    <script>
     <!-- inline -->
     <!-- your code directly here -->
    </script>
  </body>
</html>

<!--
<div>
  <a href="/db">List all</a>
  <a href="/db/new">Create new</a>
</div>
-->
